body {
    margin: 0;
    background-color: black; /* Optional: to see the container */
}
#app {
    width: 100vw; /* or any specific width */
    height: 100vh; /* or any specific height */
    overflow: hidden;
}
